{% assign author = site.data.author %}
<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            {% if author.name %}
              {{ author.name | escape }}
            {% else %}
              {{ site.title | escape }}
            {% endif %}
            </li>
            {% if author.email %}
            <li><a href="mailto:{{ author.email }}">{{ author.email }}</a></li>
            {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if author.social.github %}
          <li>
            {% include icon-github.html social=author.social.github %}
          </li>
          {% endif %}

          {% if author.social.twitter %}
          <li>
            {% include icon-twitter.html social=author.social.twitter %}
          </li>
          {% endif %}

          {% if author.social.instagram %}
          <li>
            {% include icon-instagram.html social=author.social.instagram %}
          </li>
          {% endif %}

          {% if author.social.linkedin %}
          <li>
            {% include icon-linkedin.html social=author.social.linkedin %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

  </div>

</footer>
